
{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body>
    <div class = "container">
         <h1  >INSTAGRAM</h1>
         <button class="well"><a href="{%url 'image'%}">ADD IMAGE</a></button>
<div class="well">
      
            {% for profs in images %}
            
               <a href="/images/{{profs.id}}"><img src="{{profs.image.url}}" alt="Image"></a>
               <p>Name:{{profs.name}}</p>
               <p>Caption:{{profs.caption}}</p>
               <p>Like:{{profs.like}}</p>
            {% endfor %}
         </div>
     </div>
</body>
{% endblock %}